@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2A8CFF;
  --ifm-color-primary-dark: #0D7AFF;
  --ifm-color-primary-darker: #0070F0;
  --ifm-color-primary-darkest: #005CC7;
  --ifm-color-primary-light: #479EFF;
  --ifm-color-primary-lighter: #5CA8FF;
  --ifm-color-primary-lightest: #85BEFF;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #00F0FF;
  --ifm-color-primary-dark: #00D9E6;
  --ifm-color-primary-darker: #00CCDB;
  --ifm-color-primary-darkest: #00A8B8;
  --ifm-color-primary-light: #1AF3FF;
  --ifm-color-primary-lighter: #2EF5FF;
  --ifm-color-primary-lightest: #5CF8FF;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.footer__link-item, .navbar__link {
  display: flex;
  align-items: center;
}

.menu__list-item {
  padding: 0.6rem 0;
}

.theme-edit-this-page {
  display: flex;
  align-items: center;
  gap: 5px;
}

.breadcrumbs {
  display: flex;
  flex-flow: row wrap;
}

.breadcrumbs__item {
  display: inline-flex;
  align-items: center;
  width: fit-content;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1.125rem; }
h6 { font-size: 1rem; }

.markdown a {
  text-decoration: underline;
}

.remove-link-line a {
  text-decoration: none;
}

.theme-doc-card-list .card__image {
  display: none !important;
}

.markdown ul {
  list-style: disc;
  padding-left: 1.5rem;
}

.markdown ol {
  list-style: decimal;
  padding-left: 1.5rem;
}

html.docs-doc-id-guides\/index .docItemCol_VOVn,
html.docs-doc-id-guides\/rust .docItemCol_VOVn,
html.docs-doc-id-guides\/python .docItemCol_VOVn {
  margin: 0 auto;
}

 @media (min-width: 1024px) {
    html.docs-doc-id-guides\/rust .docItemCol_VOVn,
    html.docs-doc-id-guides\/python .docItemCol_VOVn {
      padding-left: 10rem;
}
}

.sidebarIcon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  vertical-align: middle;
  display: inline-block;
}

.sidebarIcon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
