# Ignore build output
target/
*.rs.bk


# Ignore .git directory
.git/

# Ignore log files
*.log

# Ignore IDE/editor directories
.vscode/
.idea/

# Ignore Docker-related files
Dockerfile
.dockerignore

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore environment configuration files (if not needed for the build)
.env

# Ignore temporary files
*.tmp
*.swp

wait-for-it.sh