@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e0e2e3;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: Arial, Helvetica, sans-serif;
}

code {
  background: #767675;
}
