[package]
name = "db"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "ahnlich-db"
path = "src/main.rs"

[lib]
path = "src/lib.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tempfile = "3.5"
flurry = { version = "0.5.1", features = ["serde"] }
serde.workspace = true
blake3.workspace = true
ndarray.workspace = true
bincode.workspace = true
itertools.workspace = true
clap.workspace = true
thiserror = "1.0"
types = { path = "../types", version = "*" }
tokio = { version = "1.37.0", features = [
  "net",
  "macros",
  "io-util",
  "rt-multi-thread",
  "sync",
  "signal"
]}
tokio-graceful = "0.1.6"
cap = "0.1.2"
once_cell.workspace = true
tracing.workspace = true
tracer = { path = "../tracer", version = "*" }
serde_json.workspace = true


[dev-dependencies]
loom = "0.7.2"
reqwest = "0.12.4"
tokio = { version = "1.37.0", features = ["io-util", "sync"] }
futures.workspace = true
once_cell.workspace = true
pretty_assertions.workspace = true
