[package]
name = "utils"
version = "0.1.0"
edition = "2021"

[dependencies]
ahnlich_types = { path = "../types", version = "*" }
tracing.workspace = true
flurry.workspace = true
tokio.workspace = true
thiserror.workspace = true
serde.workspace = true
tempfile = "3.5"
tokio-graceful.workspace = true
serde_json.workspace = true
